<!doctype html>
<html class='no-js' lang='en' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<meta name='description' content='Pengembangan Media Pembelajaran Sederhana untuk Mata Kuliah Transmisi Otomatis'>
<meta name='author' content='isa muhammad said'>
<meta name='viewport' content='target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, minimum-scale=1.0'>
<meta name='keywords' content='transmisi, transmisi otomatis, torque converter, planetary gear unit, hydraulic control system, pengembangan materi pembelajaran berbasis facebook'>
<meta property='fb:app_id' content='133379486733282' />
<title>Content</title>	
<link rel="stylesheet" href="../source/script/style.css" type="text/css"/>
</head>
<body>
<header>
<hgroup>
<big>Transmisi Otomatis</big>
</hgroup>
</header>
<article id="left">
<nav>
<ul>
	<li><a href="deskripsi.html">Deskripsi</a>
	<hr>
	<li><a href="content.html">Content</a>
	<hr>
	<li><a href="galery.html">Galery</a>
	<hr>
	<li><a href="live-stream.html" style="text-align:right">Live Stream</a></li>
	<hr>
	<li><a href="../popup.html" style="text-align:right">Home</a></li>
	<hr>
</ul>
</nav>
</article>

<article id="right">
	<hr>
			<big>Content</big>
	<hr>		
			<p style="text-align:justify">
			<details>
			<summary>Pendahuluan</summary>
			<em>Membahas pengenalan komponen-komponen sistem transmisi otomatis</em><br/>
			<input type="text" value="http://transmisi-otomatis.appspot.com/static/pendahuluan.html" size="60">		
			</details>
			<hr>
			<details>
			<summary>Torque Converter</summary>
			<em>Membahas tentang torque converter pada sistem transmisi otomatis</em><br/>
			<input type="text" value="http://transmisi-otomatis.appspot.com/static/torque-converter.html" size="60">
			</details>
			<hr>
			<details>
			<summary>Planetary Gear Unit</summary>
			<em>Membahas tentang planetary gear unit pada sistem transmisi otomatis</em><br/>
			<textarea rows=4 cols=40>http://transmisi-otomatis.appspot.com/static/planetary-gear-unit.html</textarea>
			</details>
			<hr>
			<details>
			<summary>Hydraulic Control System</summary>
			<em>Membahas tentang hydraulic control system pada sistem transmisi otomatis</em><br/>
			<textarea rows=4 cols=40>http://transmisi-otomatis.appspot.com/static/hydraulic-control-system.html</textarea>
			</details>
			<hr>
			<details>
			<summary>Evaluasi</summary>
			<em>Sebagai bahan untuk mengevaluasi pembahasan sistem transmisi otomatis</em><br/>
			<input type="text" value="http://transmisi-otomatis.appspot.com/static/evaluasi.html" size="60">
			</details>
		<br/>
</article>
   <script>
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-26689021-1']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = 'https://ssl.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
   </script>
</body>
</html>